body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wave-container {
    height: 100px;
    overflow: hidden;
  }
  
  .wave {
    width: 700px;
    height: 1px;
    background: linear-gradient(90deg, #f85555, #fa9f9f);
    animation: curve-wave 10s ease 1s infinite alternate;
    margin: 5px 0;
  }
  
  /* Styling for second and third waves */
  .wave:nth-child(2) {
    top: 30px;
    animation-delay: 0.5s;
  }
  
  .wave:nth-child(3) {
    top: 60px;
    animation-delay: 1s;
  }
  
  /* Wave animation keyframes */
  @keyframes curve-wave {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(50%);
    }
  }
  
  /* ============ Water ============ */
  .water-wrapper {
    width: 960px;
    height: 400px;
    background: #2e2e2e;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .water-wrapper h1{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.1);
    background-image: url(./img/water-wave-fish.png);
    background-size: cover;
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: water-wave 15s linear infinite;
  }

  @keyframes water-wave {
    0% {
      background-position: left 0px top 80px;
    }
    40% {
      background-position: left 800px top -50px;
    }
    80% {
      background-position: left 1800px top -50px;
    }
    80% {
      background-position: left 250px top 80px;
    }
  }
    /* ============ End Water ============ */

    /* ============ Fog ============ */
    .fog-wrapper {
      display: flex;
      z-index: 1;
      padding: 200px;

      width: 960px;
      height: 400px;
      background: #2e2e2e;

    }
    .fog-wrapper span {
      display: block;
      margin: 0 2px 50px;
      min-width: 8px;
      height: 120px;
      background: #fff;
      border-radius: 50%;
      animation: fog 5s linear infinite;
      filter: blur(8px);
      animation-delay: calc(var(--i) * -0.5s );
    }

    @keyframes fog {
      0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
      }

      15% {
        opacity: 1;
      }

      50% {
        transform: translateY(-150px) scaleX(5);
        
      }
      95% {
        opacity: 0;
      }

      100% {
        transform: translateY(-300px) scaleX(10);
        opacity: 0;
      }
    }
    /* ============ End Fog ============ */

/* ============ Half Rotate ============ */
.imgBox-ellipse {
  position: relative;
  width: 100%;
}
.ellipse-1 {
  position: absolute;
  top: -70px;
  right: -100px;
  z-index: -1;
  animation: movementUpDown 2s ease-in-out 2s infinite alternate;

}

.ellipse-2 {
  position: absolute;
  bottom: -66px;
  left: -68px;
  z-index: -1;
  animation: halfRotate 5s ease-in-out 2s infinite alternate;
}

/* ============ End Half Rotate ============ */

/* ============ Movement ============ */
  .imgBox img {
    animation: movementUpDown 2s ease-in-out 2s infinite alternate;
  }

  .imgBox2 img {
    animation: movementLeftRight 2s ease-in-out 2s infinite alternate;
  }

  /* ============ End Movement ============ */