body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wave-container {
    height: 100px;
    overflow: hidden;
  }
  
  .wave {
    width: 700px;
    height: 1px;
    background: linear-gradient(90deg, #f85555, #fa9f9f);
    animation: curve-wave 10s ease 1s infinite alternate;
    margin: 5px 0;
  }
  
  /* Styling for second and third waves */
  .wave:nth-child(2) {
    top: 30px;
    animation-delay: 0.5s;
  }
  
  .wave:nth-child(3) {
    top: 60px;
    animation-delay: 1s;
  }
  
  /* Wave animation keyframes */
  @keyframes curve-wave {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(50%);
    }
  }
  